/**
 * Inspiration for this project found at:
 * https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround.
 
 .firstcol {
   font-family: 'Roboto'; 
   background-color:#fefefe; 
  }
 .circlechart {
    float: left;
   padding: 20px;
 }*/
 .smallbox{
  overflow:hidden;
 }
 /*html {
  scroll-behavior: smooth;
}*/

.circle-chart {
  width: 50px;
  height: 50px;
}
.full_layout{
  width: auto;
  border: 1px solid;
  padding: 250px;
  margin: 20px;
  height: 620Px;
}
.offlayout{
  position: absolute;
  top: 30px;
  left: 40px;
  right: 40px;
  border: 1px solid;
  height: 300px;
}
/*.firstcol{
  align-items: baseline;
  border: 1px solid;
  padding: 100px;
  margin: 2px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 40px;
  border: 1px solid;
  height: 170px;
}
.center{
  position: inherit;
  top: 30px;
  left: 1000px;
  border: 1px solid;
  width: 20px;
  height: 170px;
}*/
.secondcol{
  position: absolute;
  top: 30px;
  right: 40px;
  width: -100px;
  height: 170px;
}
.first_circle{
  align-content: top;
}

.circle-chart__circle {
  stroke: #00acc1;
  stroke-width: 2;
  stroke-linecap: square;
  fill: none;
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround.
 */

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__background {
  stroke: #efefef;
  stroke-width: 3;
  fill: none; 
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart__percent {
  alignment: central;
  text-anchor: middle;
  font-size: 8px;
}

.circle-chart__subline {
    alignment: central;
    text-anchor: middle;
    font-size: 4px;
}

.success-stroke {
  stroke: #00C851;
}

.warning-stroke {
  stroke: #ffbb33;
}

.danger-stroke {
  stroke: #ff4444;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Create two equal columns that floats next to each other */
.column1 {
  position: absolute;
  float: left;
  width: 46%;
  padding-left: 10px;
  height: 280px; 
  left: 40px;
  border: 1px solid;
}
.column2 {
  position: absolute;
  width: 46%;
  padding-right: 30px;
  height: 280px; 
  right: 40px;
  bottom: 30px;
  border: 1px solid;
}

/* Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
  top:1000px
}*/
.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 10px;
  font-weight: 500;
  /*text-transform: uppercase;*/
  margin: 7px 0;
}

.skill-bar{
  height: 10px;
  width: 200px;
  background: #cacaca;
  border-radius: 8px;
  margin-top: 7px;
}
.skill-barfirst {
  height: 10px;
  width: 400px;
  background: #cacaca;
  border-radius: 8px;
  margin-top: 7px;
}
.skill-emptybar{
  height: 10px;
  width: 400px;
  background: #cacaca;
  border-radius: 8px;
  padding-top: 10px;
  
}
.skill-per{
  height: 10px;
  background-color: #0fbcf9;
  border-radius: 8px;
  width: 0px;
  transition: 1s linear;
}
.title_col{
  height: 50px;
  position: revert
}
.deilver_title{
    padding: revert;
    position: relative;
    height: 40px;
}
/*.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: 35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: 16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}*/
.pageHeadingFontStyle{
  margin-left: 3%;
  color: #2f4668;
}

.divPageHeadingStyle{
  padding: 15px;
    border: 1px solid #cccccc;    
}
.textAligCeter{
  text-align: center;
}
.circleChartHeading{
  font-size: 8px;
}
.CircleDivHeadingStyle{
  font-size: 13px;
}
.row{
  margin-left: 0px !important;
}
.paddingLedtAndRight4px{
  padding-left: 4px;
    padding-right: 4px;
}
.paddingTop5px{
  padding-top: 5px;
}
.badgeStyle {
  display: inline-block;
    min-width: 10px;
    padding: 3px 3px;
    font-size: 3px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}
.badgeColor1{
  background-color: red;
}
.badgeColor2{
  background-color: yellow;
}
.badgeColor3{
  background-color: gray;
}

.imgBorderStyle{
  border-radius: 3px;
}

.EmailIconStyle{
  width: 30px;
  height: 30px;
}
.divSectionTwo{
  border: 1px solid #cccccc;
  margin:10px;
}
.divSectionthere{
  border: 1px solid #cccccc;
  /*margin:10px;*/
}
.textcolor{
  background-color: #524769;
  color: white;
}
.sameline{
  display: flex;
  margin-top: 20px;
  padding-left: 20px;
}
.textalign{
  display: flex;
}
.backgroundcolor{
  background-color: rgb(238, 235, 235);
}
.textspace{
  padding-left: 20px;
}
.e1inputpg2 {
  padding-bottom: 0px;
  padding-left: 4px;
  width: inherit;
  /* width: 220px; */
  border-radius: 6px;
  margin-top: 12px;
  height: 26px;
  border-width: 0px;
}
.mdlControl {
  border-width: 1px;
  border-color: #EEF2F7;
}
.mdlCheckBox {
  width: 18px;
  display: inline-block;
}
.checkboxInList {
  margin-top: 0px;
}
.checbox {
  height: 10px;
  border: 1.5px solid #fa6223;;
  border-radius: 8px;
  margin-top: 12px;
  background-color: green;
}
.ispalgin{
  padding: inherit;
}
.emailbox{
  padding-top: 32px;
}
.border{
 background-color:darkblue;
 color:white;
 float:right;
}
.bottom{
  position: relative;
  margin: 10px;
  top: 0px;
}
.font{
 font-weight: bolder;
 font-size: 12px;
}
.box {
  width: 1300px;
  border: 1px solid #cccccc;
  margin: 20px;
  margin-left:0px;
  height:400px;
}
.font1{
  font-weight: bolder;
  font-size: 9px;
 }
 .engagementDetailSubjectStyle{
  height: 17px;
  margin-top: 4px;
  margin-left: 6px;
  border-radius: 2px;
  border-style: none;
  width: 60%;
  font-family: sans-serif;
  font-size: 10px;
 }
 